html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.input {
  border: 1px solid black;
  margin: 8px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input > * {
  margin: 5px;
}

.loading{
  position: absolute;
  height: 90vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading{
  height: 10vh;
  width: 100%;
  border: 3px solid black;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.msg{
  height: 5vh;
  border: 1px solid black;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

